footer {
  background: #646870;
  color: #bbb;
  margin-top: 50px;
  border-top: 10px solid #4d4d4d;

  .row {
    padding-top: 55px;
    padding-bottom: 55px;
    margin-bottom: 0;
  }

  .copy-right {
    font-size: 14px;
  }

  .footer-logo {
    img {
      float: left;
    }
  }
}

@media (max-width: $screen-sm-max) {
  footer {
    text-align: center;

    .row {
      padding-bottom: 20px;
    }
    .footer-logo img {
      float: none;
      margin-top: 10px;
    }
  }
}