body,
html {
  font-family: $font-IranYekan;
  direction: rtl;
  text-align: right;
  font-size: 13px;
  unicode-bidi: embed;
  background-color: #f7f8fa;
  line-height: 1.8;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

a {
  color: #7f848f;
}

a:hover,
a:active {
  color: $main-color;
}

.btn {
  padding: 10px;
  border: 1px solid #ccc;
  background: #cecece;
}

.btn-menu {
  position: absolute;
  left: 20px;
  top: 20px;
  background: #3f3631;
  padding: 5px 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 0 20px 0 #cecece;
}

header {
  width: 100%;
  margin: 0;
  background: #f8f8f8;
  ul.top-menu {
    list-style: none;
    margin: 0;
    height: 35px;
    line-height: 35px;
    padding: 0;
    li {
      float: right;
      margin-left: 25px;
      font-size: 11px;
      font-weight: bold;
      span {
        margin-right: 16px;
        color: #7f848f;
      }
    }
  }
  .search {
    background: #ffffff;
    .search-input {
      padding-top: 25px;
      input {
        border: 1px solid #c9d1d7;
        box-sizing: border-box;
        font-family: $font-IranYekan;
        background-color: white;
        height: 40px;
        border-radius: 2px;
        overflow: hidden;
        padding-right: 10px;
        padding-left: 47px;
        margin-bottom: 0;
        width: 70%;
      }
      .btn-search {
        background: #9da3b1;
        height: 40px;
        box-sizing: border-box;
        position: relative;
        margin-right: -47px;
        padding: 10px 15px;
        color: #fff;
        font-size: 17px;
        line-height: 1;
        top: 2px;
        border-radius: 2px 0 0 2px;
        @include fadeAnim(1s);
        cursor: pointer;
      }
      .btn-search:hover {
        opacity: 0.8;
      }
    }
    .logo {
      text-align: left;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

/*shayan*/

.menu-container {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 0 1px 1px #edeef0;
}

header nav {
  li a {
    color: #000000;
  }
  li:hover a {
    color: $main-color;
  }
  ul.menu {
    list-style: none;
  }
  .menu li {
    display: inline-block;
    /* border: 1px solid; */
    margin-left: 30px;
    height: 28px;
    text-align: center;
    line-height: 28px;
  }
  li.has-sub {
    position: relative;
  }
  li.has-sub::before {
    content: "\F107";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
  }
  li.has-sub:hover::before {
    color: $main-color;
  }
  ul.sub-menu {
    position: absolute;
    background-color: #f9f9f9;
    width: 95px;
    text-align: right;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    @include fadeAnim(.05s);
  }
  li.has-sub:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    @include fadeAnim(0.5s);
  }
  .sub-menu li {
    background: #ffffff;
    padding: 5px 0px;
    border-bottom: 1px solid #ebebeb;
    text-decoration: none;
    display: block;
    margin-right: -39px;
    cursor: pointer;
    font-size: 12px;
    font-weight: lighter;
    margin-left: inherit;
  }
  .sub-menu li a {
    color: #000000;
  }
  .sub-menu li:hover a {
    color: $main-color;
  }
  .sub-menu li:hover {
    background-color: #f1f1f1;
  }
}

@media (max-width: $screen-sm-max) {
  header .search {
    text-align: center;
    .logo {
      text-align: center;
    }
  }
}

@media (max-width: $screen-xs-max) {
  header ul.top-menu {
    height: inherit;
    li {
      float: none;
    }
  }
  .menu-container {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    background: #111111;
    color: #fff;
    bottom: 0;
    font-size: 20px;
    overflow: hidden;
    @include fadeAnim(0.5s);
    nav {
      ul.menu {
        margin: 10px -15px;
        padding: 0;
        li {
          display: table;
          padding: 15px;
          margin: 0;
          width: 100%;
          box-sizing: border-box;
          border-bottom: 1px solid #2a2a2a;
        }
        li:hover {
          background: #2a2a2a;
        }
        li.has-sub:hover::before {
          color: #ffffff;
        }
        li:last-child {
          border: inherit;
        }
        li a {
          color: #ffffff;
        }
      }
      ul.sub-menu {
        position: inherit;
        visibility: inherit;
        opacity: 1;
        background: inherit;
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        box-shadow: inherit;
        margin: 20px 0;
        li {
          background: inherit;
          border: none;
        }
        li:hover {
          background: #323232;
        }
      }
    }
  }
  .menu-container.active {
    width: 60%;
    overflow: inherit;
  }
}