main {
  background: url("../img/digikala-pattern.png") repeat-x 0 80px;
  line-height: 1.8;
  display: flex;
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }
    to {
      top: 0;
      opacity: 1
    }
  }
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }
    to {
      top: 0;
      opacity: 1
    }
  }
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .close {
      color: #aaa;
      float: left;
      font-size: 28px;
      font-weight: bold;
    }
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    .modal-header {
      padding: 2px 15px;
      border-bottom: 1px solid #e5e5e5;
    }
    .modal-body {
      padding: 2px 16px;
      .form-group {
        margin-bottom: 15px;
        .form-control {
          display: block;
          width: 100%;
          height: 34px;
          margin-top: 5px;
          padding: 2px;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
          font-size: 12px;
          font-weight: bold;
          margin-right: -3px;
          font-family: $font-IranYekan;
          border-radius: 2px;
        }
      }
      .remember-me {
        position: relative;
        margin-bottom: 40px;
        input[type="checkbox"] {
          position: absolute;
        }
        label {
          span {
            margin-top: 10px;
            position: absolute;
            top: -16px;
            right: 19px;
          }
        }
      }
      .submit {
        padding-top: 6px;
        padding-bottom: 14px;
        input {
          background: #337ab7;
          border: 1px solid #2e6da4;
          color: #fff;
          margin-left: 4px;
          height: 30px;
          font-family: $font-IranYekan;
        }
        a {
          color: #337ab7;
        }
        p {
          display: inline-block;
          float: left;
          margin-top: 3px;
        }
      }
    }
  }
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .side-bar {
    .panel {
      .header {
        background: #f8f8f8;
        h5 {
          font-size: 15px;
          margin: 3px 0 0;
        }
        h5:after {
          content: '';
          background: #ef3f3e;
          width: 65px;
          height: 2px;
          display: block;
          position: absolute;
          margin-top: 8px;
        }
      }
    }
  }
}

.panel {
  background: #fff;
  display: grid;
  padding: 0 0 15px;
  box-shadow: 0 0 20px 0px #e4e4e4;
  margin: 15px;
  .header {
    border-bottom: 1px solid #ece6e6;
    margin-bottom: 15px;
    padding: 0 18px 10px;
    .title {
      a {
        color: #000000;
      }
      a:hover,
      a:active {
        color: $main-color;
      }
      h3 {
        font-size: 17px;
      }
    }
    .meta {
      color: #ef5662;
      font-weight: lighter;
      font-size: 12px;
      margin-top: -13px;
      .date {
        float: left;
      }
    }
  }
  .body {
    padding: 0 18px;
    .img img {
      width: 100%;
    }
    .text {
      p {
        padding: 0 14px;
        text-align: justify;
        margin: 0;
        color: #7b7b7b;
        font-weight: lighter;
      }
      .read-more {
        float: left;
        margin-left: 15px;
        a {
          color: $main-color;
        }
        a:hover,
        a:active {
          opacity: 0.8;
        }
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  main {
    .modal-content {
      position: relative;
      width: auto;
      margin: 10px;
      .modal-body {
        .submit {
          padding-top: 0;
          padding-bottom: 0;
          p {
            display: block;
            float: none;
            margin-top: 5px;
          }
        }
      }
    }
  }
}