{% extends "layouts/layout.html" %}
{% block title %} درباره ی ما {% endblock %}
{% block content %}
<article class="panel">
    <div class="header">
        <div class="title"><a href="{{ url_for('about') }}"><h3> معرفی گروه نرم افزار دانشگاه تهران </h3></a></div>
        <div class="meta"><span class="author">امین کشاورز</span><span
                class="date">  12 آذر 1396 - 16:00 </span></div>
    </div>
    <div class="body">
        <div class="text col-lg-12">

            <div class="img post-img">
                <img src="{{ url_for('static', filename = 'img/pic1.jpg') }}" alt="Xbox">
            </div>
            گروه مهندسی نرم‌افزار دانشگاه تهران جزء گروه‌های پیشتاز در حوزه مهندسی کامپیوتر با تمرکز بر حوزه‌های مرتبط
            با مهندسی نرم‌افزار در کشور محسوب می‌گردد. با توجه به مشترک بودن دانشکده مهندسی برق و کامپیوتر در دانشگاه
            تهران، یکی از مزایای ارتباط با این گروه، فراهم شدن امکان تعامل با گروه‌هایی نظیر مهندسی فن‌آوری اطلاعات، هوش
            ماشین و روباتیک، معماری کامپیوتر، کنترل و مخابرات است که زمینه‌های متعدد همکاری میان‌گروهی با گروه مهندسی
            نرم‌افزار دارند. حدود 50 دانشجوی کارشناسی ارشد و نزدیک به 25 دانشجوی دکتری رساله پژوهشی خود را در حوزه‌های
            تخصصی مهندسی و علوم کامپیوتر زیر نظر 13 عضو هیئت علمی این گروه به انجام می‌رسانند. در ادامه فهرستی از
            زمینه‌های پژوهشی فعال در این گروه ارائه می‌گردد:</p>
            <ul>
                <li dir="RTL" style="text-align: justify;"> سیستم‌ عامل</li>
                <li dir="RTL" style="text-align: justify;"> سیستم‌های چند هسته‌ای، توزیع‌شده و محاسبات ابری</li>
                <li dir="RTL" style="text-align: justify;"> شبکه‌های کامپیوتری/بی‌سیم/میان‌ارتباطی/اقتضایی</li>
                <li dir="RTL" style="text-align: justify;"> سیستم‌های بی‌درنگ و نهفته</li>
                <li dir="RTL" style="text-align: justify;"> ارزیابی کارایی سیستم‌های کامپیوتری و سیستم‌های صف</li>
                <li dir="RTL" style="text-align: justify;"> زمان‌بندی و مدیریت منابع</li>
                <li dir="RTL" style="text-align: justify;"> امنیت شبکه و حریم شخصی</li>
                <li dir="RTL" style="text-align: justify;"> شبکه‌های اجتماعی</li>
                <li dir="RTL" style="text-align: justify;"> متن/داده کاوی</li>
                <li dir="RTL" style="text-align: justify;"> پردازش زبان طبیعی</li>
                <li dir="RTL" style="text-align: justify;"> سیستم‌های هوشمند، یادگیری ماشینی، و رباتهای پیمانه‌ای</li>
                <li dir="RTL" style="text-align: justify;"> پایگاه داده و مدیریت اطلاعات متنی</li>
                <li dir="RTL" style="text-align: justify;"> داده‌های بزرگ</li>
                <li dir="RTL" style="text-align: justify;"> روش‌های رسمی</li>
                <li dir="RTL" style="text-align: justify;"> پردازش سیگنال‌های چند رسانه‌ای، شبکه‌های چند رسانه‌ای و
                    ارتباطات چند رسانه‌ای
                </li>
                <li dir="RTL" style="text-align: justify;"> بیوانفورماتیک</li>
                <li dir="RTL" style="text-align: justify;"> گرافیک کامپیوتری</li>
        </div>
    </div>
</article>
{% endblock %}