{% extends "layouts/layout.html" %}
{% block content %}
{% if posts %}
{% for post in posts %}
<article class="panel">
    <div class="header">
        <div class="title"><a href="{{ post.getUrl() }}"><h3> {{post.title}} </h3></a></div>
        <div class="meta"><span class="author">{{ post.user.getFullName() }}</span><span
                class="date"> {{ post.getJdate() }}</span></div>
    </div>
    <div class="body">
        <div class="img col-lg-4 col-xs-12"><img
                src="{{ post.getThumb() }}" alt="{{ post.title }}">
        </div>
        <div class="text col-lg-8 col-xs-12">
            <p>
                {{post.content[0:255]}} ...
            </p>
            <span class="read-more">
                            <a href="{{ post.getUrl() }}">بیشتر بخوانید »</a>
                        </span>
        </div>
    </div>
</article>
{% endfor %}
{% else %}
<article class="panel">
    <div class="body">
        <p>پستی پیدا نشده است!</p>
    </div>
</article>
{%endif %}
{% endblock %}