{% extends "layouts/layout.html" %}
{% block title %} {{post.title}} {% endblock %}
{% block content %}
<article class="panel">
    <div class="header">
        <div class="title"><a href="{{ post.getUrl() }}"><h3> {{ post.title }} </h3></a></div>
        <div class="meta"><span class="author">{{ post.user.getFullName() }}</span><span
                class="date">  {{post.getJdate()}} </span></div>
    </div>
    <div class="body">
        <div class="text col-lg-12">

            <div class="img post-img">
                <img src="{{ post.getThumb() }}" alt="{{ post.title }}">
            </div>
            {{ post.content }}
        </div>
        <div class="post-tags">
            {% for tag in post.getTagsArray() %}
            <a href="#" class="tag"><h5>{{tag}}</h5></a>
            {% endfor %}
        </div>
    </div>
</article>
{% endblock %}