<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>بلاگ | {% block title %} صفحه اصلی {% endblock %}</title><!-- Page css assets-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/styles.css') }}">
</head>
<body><!-- Header Template-->
<header>
    <div class="container">
        <ul class="top-menu">
            <li><a href="#"> خروج </a></li>
            <li class="hidden visible-xs">
                <button class="btn btn-menu" onclick="openMenu()"><i class="fa fa-bars"></i></button>
            </li>
        </ul>
    </div>
    <div class="search">
        <div class="container">
            <div class="row">
                <div class="search-input col-lg-7 col-sm-12">
                    <form><input placeholder="جستجو ...">
                        <button class="btn btn-search" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="logo col-lg-5 col-sm-12"><img src="{{ url_for('static', filename = 'img/logo.png') }}">
                </div>
            </div>
        </div>
    </div>
    <div class="menu-container">
        <nav class="container">
            {% include 'layouts/blog_header_menu.html' %}
        </nav>
    </div>
</header><!-- ./Header Template--><!-- Page Content-->
<main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="alert-container" class="flash-container">
        <div class=flashes>
            <a class="close-alert" href="javascript:;"
               onclick="document.getElementById('alert-container').style.display = 'none';">
                <i class="fa fa-times fa-2x"></i>
            </a>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            </div>
        </div>
    {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-lg-3 col-sm-12 side-bar">
            {% include 'layouts/admin_sidebar_menu.html' %}
        </div>
        <div class="col-lg-9 col-sm-12">
            {% block content %}{% endblock %}
        </div>
    </div>

</main><!-- ./Page Content--><!-- Footer Template-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-sm-12 copy-right"> استفاده از مطالب سايت دیجی‌کالا مگ فقط برای مقاصد غیر تجاری و
                با ذکر منبع بلامانع است. کليه حقوق اين سايت به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی‌کالا) تعلق
                دارد.
            </div>
            <div class="col-lg-2 col-sm-12 footer-logo"><img
                    src="{{ url_for('static', filename = 'img/logo-white.png') }}"></div>
        </div>
    </div>
</footer><!-- ./Footer Template--><!-- Page js assets-->
<script src="{{ url_for('static', filename = 'js/app.js') }}"></script>
</body>
</html>