<ul class="menu">
    <li><a href="{{ url_for('index') }}">صفحه اصلی</a></li>
    <li class="has-sub"><a href="#">دسته بندی ها</a>
        <ul class="sub-menu">
            <li><a href="#">اطلاعیه ها</a></li>
            <li><a href="#">برنامه کلاس ها</a></li>
            <li><a href="#">جزوات</a></li>
        </ul>
    </li>
    <li><a href="{{ url_for('listPosts') }}">ثبت خبر</a></li>
    <li><a href="{{ url_for('about') }}">درباره ما</a></li>
</ul>