<aside class="panel">
    <div class="header"><h5> دسته ها</h5></div>
    <div class="body">
        {% for cat in categories %}
        <a href="#"><h4> {{cat.name}}</h4></a>
        {% endfor %}
    </div>
</aside>