{% extends "layouts/admin_layout.html" %}
{% block title %} ایجاد پست جدید {% endblock %}
{% block content %}
<article class="panel">
    <div class="header">
        <div class="title"><a href="#"><h3>ایجاد پست جدید</h3></a></div>
    </div>
    <div class="body">
        <div class="col-lg-12">
            <form action="/admin/posts/create" method="post">
                <input name="post" value="1" type="hidden">
                <div class="form-group">
                    <label for="title">عنوان</label>
                    <input id="title" class="form-control" type="text" name="title" value="{{post.title}}"
                           placeholder="عنوان پست">
                </div>
                <div class="form-group">
                    <label for="thump">تصویر پست</label>
                    <input id="thump" class="form-control" type="text" name="thump" value="{{post.thumb}}"
                           placeholder="تصویر پست">
                </div>
                <div class="form-group">
                    <label for="content">متن پست</label>
                    <textarea id="content" class="form-control" name="content" placeholder="متن پست"
                              style="max-width: 100%; height: inherit;" rows="10">{{post.content}}</textarea>
                </div>
                <div class="form-group">
                    <label for="tags">تگ ها</label>
                    <input id="tags" class="form-control" type="text" name="tags" value="{{post.tags}}"
                           placeholder="تگ ها">
                </div>
                <div class="form-group">
                    <label for="category">دسته</label>
                    <select name="category" id="category" class="form-control">
                        {% for category in categories %}
                        <option value="{{category.id}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="ثبت">
                </div>
            </form>
        </div>
    </div>
</article>
{% endblock %}