{% extends "layouts/admin_layout.html" %}
{% block title %} ایجاد پست جدید {% endblock %}
{% block content %}
<article class="panel">
    <div class="header">
        <div class="title"><a href="#"><h3>لیست پست ها</h3></a></div>
    </div>
    <div class="body">
        <a href="{{ url_for('addPost') }}">ایجاد پست جدید</a>
        <div class="col-lg-12">
            <table class="center">
                <thead>
                <tr>
                    <td>شناسه</td>
                    <td>عنوان</td>
                    <td>نویسنده</td>
                    <td>دسته</td>
                    <td>تاریخ ایجاد</td>
                    <td>مدیریت</td>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.user.getFullName()}}</td>
                    <td>{{post.category.name}}</td>
                    <td>{{post.getJdate()}}</td>
                    <td>
                        <a href="{{ url_for('addPost', postId=post.id) }}" style="color: #0cce8a"><i
                                class="fa fa-edit fa-2x"></i></a>
                        <a href="{{ url_for('deletePost', postId=post.id) }}" style="color: darkred"><i
                                class="fa fa-trash fa-2x"></i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</article>
{% endblock %}