footer
    div.container
        div.row
            div.col-lg-10.col-sm-12.copy-right  استفاده از مطالب سايت دیجی‌کالا مگ فقط برای مقاصد غیر تجاری و با ذکر منبع بلامانع است. کليه حقوق اين سايت به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی‌کالا) تعلق دارد.

            div.col-lg-2.col-sm-12.footer-logo
                img(src="assets/img/digikala-white-logo.png")