header
    div.container
        ul.top-menu
            li
                a#modalBtn(href="#" onclick='openModal()') دیجی کالا مگ، وارد شوید
            li
                a(href="#")  ثبت نام کنید 
                span |
            li
                a(href="#") فروشگاه اینترنتی دیجیکالا
            li.hidden.visible-xs
                button.btn.btn-menu(onclick='openMenu()')
                    i.fa.fa-bars
    div.search
        div.container
            div.row
                div.search-input.col-lg-7.col-sm-12
                    form
                        input(placeholder="جستجو ...")

                        button.btn.btn-search(type="submit")
                            i.fa.fa-search

                div.logo.col-lg-5.col-sm-12
                    img(src='assets/img/digikala-mag-logo.png')
    div.menu-container
        nav.container
            ul.menu
                li
                    a(href="#") خبر
                li.has-sub
                    a(href="#") دیجیتال
                    ul.sub-menu
                        li
                            a(href="#") راهنمای خرید
                        li
                            a(href="#") نقد و برسی
                        li
                            a(href="#") اپلیکیشن
                li
                    a(href="#") دانش
                li
                    a(href="#") سرگرمی
                li
                    a(href="#") پادکست