block project-info
    - var version     = '0.0.1alpha'

doctype html
html
    head
        meta(charset='utf8')
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title مستر کارد -
            | #{pageName}

        // Page css assets
        block css
            link(rel="stylesheet" type="text/css" href ="assets/css/styles.css")
    body
        // Header Template
        include header
        // ./Header Template
        // Page Content
        main
            div.modal#mymodal
                div.modal-content
                    div.modal-header
                        span.close &times;
                        h2  ورود
                    div.modal-body
                        p لطفا برای ورود از حساب کاربری دیجی‌کالا استفاده کنید.         
                        form(action="#" method="post")
                            div.form-group
                                label(for="") نام کاربری
                                input.form-control(type="text" name="username" placeholder="نام کاربری")
                            div.form-group
                                label(for="") رمز ورود
                                input.form-control(type="password" name="password" placeholder="رمز ورود ")
                            div.remember-me
                                label
                                    input(type="checkbox")
                                    span مرا به خاطر بسپار
                            div.submit
                                input(type="submit" value="ورود")
                                a(href="#") ثبت نام در دیجی‌کالا
                                p
                                    a(href="") رمز عبورم را فراموش کرده ام



            block content
        // ./Page Content
        // Footer Template
        include footer.pug
        // ./Footer Template
        // Page js assets
        block js
            script(src='assets/js/app.js')