$screen-xs-max: 768px;
$screen-sm-max: 992px;
$screen-md-max: 1200px;

.container {
  max-width: $screen-md-max;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.hidden {
  display: none;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 !important;
}

@for $i from 1 through 12 {
  .col-lg-#{$i} {
    width: (100% -  ( (12 - $i) * 100/12));
    float: right;
  }
}

.visible-lg {
  display: inherit;
}

@media (max-width: $screen-md-max) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: (100% -  ( (12 - $i) * 100/12));
      float: right;
    }
  }
  .visible-md {
    display: inherit;
  }
}

@media (max-width: $screen-sm-max) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: (100% -  ( (12 - $i) * 100/12));
      float: right;
    }
  }
  .visible-sm {
    display: inherit;
  }
}

@media (max-width: $screen-xs-max) {
  @for $i from 1 through 12 {
    .col-xs-#{$i} {
      width: (100% -  ( (12 - $i) * 100/12));
      float: right;
    }
  }
  .visible-xs {
    display: inherit;
  }
}